USE [QL_BANGDIA]
GO
/****** Object:  Table [dbo].[DIA]    Script Date: 11/21/2020 9:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIA](
	[MADIA] [nchar](5) NOT NULL,
	[TENDIA] [nvarchar](50) NULL,
	[THELOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_DIA] PRIMARY KEY CLUSTERED 
(
	[MADIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHTHUE]    Script Date: 11/21/2020 9:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHTHUE](
	[MAKHACH] [nchar](5) NOT NULL,
	[HODEM] [nvarchar](13) NULL,
	[TEN] [nvarchar](6) NULL,
	[SOCMND] [nchar](12) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAKHACH] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUEDIA]    Script Date: 11/21/2020 9:49:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEDIA](
	[MAKHACH] [nchar](5) NOT NULL,
	[MADIA] [nchar](5) NOT NULL,
	[NGAYTHUE] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_THUEDIA] PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC,
	[MADIA] ASC,
	[NGAYTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIA] ([MADIA], [TENDIA], [THELOAI]) VALUES (N'D0001', N'TỰ HỌC VISUAL BÁIC', N'TIN HỌC')
INSERT [dbo].[DIA] ([MADIA], [TENDIA], [THELOAI]) VALUES (N'D0002', N'TỰ HỌC PHOTOSHOP', N'TIN HỌC')
INSERT [dbo].[DIA] ([MADIA], [TENDIA], [THELOAI]) VALUES (N'D0003', N'NGỮ PHÁP TIENGS ANH CĂN BẢN', N'NGOẠI NGỮ')
INSERT [dbo].[KHACHTHUE] ([MAKHACH], [HODEM], [TEN], [SOCMND], [DIACHI]) VALUES (N'KH001', N'NGUYỄN VĂN ', N'AN', N'205005303   ', N'11 LÊ DUẨN')
INSERT [dbo].[KHACHTHUE] ([MAKHACH], [HODEM], [TEN], [SOCMND], [DIACHI]) VALUES (N'KH002', N'TRẦN TUẤN', N'TÚ', N'205123678   ', N'53 THÁI PHIÊN ĐÀ NẴNG')
INSERT [dbo].[KHACHTHUE] ([MAKHACH], [HODEM], [TEN], [SOCMND], [DIACHI]) VALUES (N'KH003', N'LÝ', N'NAM', N'203432098   ', N'20 LÊ DUẨN ĐÀ NẴNG')
INSERT [dbo].[THUEDIA] ([MAKHACH], [MADIA], [NGAYTHUE], [NGAYTRA]) VALUES (N'KH001', N'D0002', CAST(N'2011-04-21' AS Date), NULL)
INSERT [dbo].[THUEDIA] ([MAKHACH], [MADIA], [NGAYTHUE], [NGAYTRA]) VALUES (N'KH001', N'D0006', CAST(N'2011-03-26' AS Date), CAST(N'2011-03-30' AS Date))
INSERT [dbo].[THUEDIA] ([MAKHACH], [MADIA], [NGAYTHUE], [NGAYTRA]) VALUES (N'KH002', N'D0001', CAST(N'2011-04-01' AS Date), NULL)
ALTER TABLE [dbo].[THUEDIA]  WITH CHECK ADD  CONSTRAINT [FK_THUEDIA_DIA] FOREIGN KEY([MADIA])
REFERENCES [dbo].[DIA] ([MADIA])
GO
ALTER TABLE [dbo].[THUEDIA] CHECK CONSTRAINT [FK_THUEDIA_DIA]
GO
ALTER TABLE [dbo].[THUEDIA]  WITH CHECK ADD  CONSTRAINT [FK_THUEDIA_KHACHTHUE] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACHTHUE] ([MAKHACH])
GO
ALTER TABLE [dbo].[THUEDIA] CHECK CONSTRAINT [FK_THUEDIA_KHACHTHUE]
GO
